RSS announces ignore supybot.reply.withnotice

I have `supybot.reply.withnotice` as `True` (see also https://github.com/ProgVal/Limnoria/issues/653 & [RFC 1459 section 4.4.2](https://tools.ietf.org/html/rfc1459#section-4.4.2)), but RSS announces are still PRIVMSGs.

I can understand if this is caused by those messages not being replies to anything, but I believe there should be option for having them as notices too and using `supybot.reply.withnotice` seems logical.

