config help for supybot.protocols.irc.strictRfc lies

> `Determines whether the bot will strictly follow the RFC; currently this only affects what strings are considered to be nicks. If you're using a server or a network that requires you to **message a nick such as services@this.network.server then you you should set this to False.**  (Current value: False)`

This follows [RFC 1459 section 4.4.1](https://tools.ietf.org/html/rfc1459#section-4.4.1). 

```
   The <receiver> parameter may also me a host mask  (#mask)  or  server
   mask  ($mask).   In  both cases the server will only send the PRIVMSG
   to those who have a server or host matching the mask.  The mask  must
   have at  least  1  (one)  "."  in it and no wildcards following the
   last ".".  This requirement exists to prevent people sending messages
   to  "#*"  or "$*",  which  would  broadcast  to  all  users; from
   experience, this is abused more than used responsibly and properly.
   Wildcards are  the  '*' and  '?'   characters.   This  extension  to
   the PRIVMSG command is only available to Operators.

PRIVMSG jto@tolsun.oulu.fi :Hello !
                                ; Message to a client on server
```


This is probably because Supybot checks whether a string can be a nick, not a `nick@user` combination. Interesting find though.